@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  background-image: ;
  display: flex;
}
.list{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
img {
  width: 600px;
}
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}
input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: 10px;
}
.header {
  display: flex;
  
  flex-direction: row;
  justify-content: space-between;
}
ul {
    list-style-type: none;
    padding: 10px;
}
a {
  color: #3d3c3c;
  text-decoration: none;
}
.left-links{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.right-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 0px;

}