.header  {
  font-family: monospace;
  background: papayawhip;
  justify-content: space-between;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: row;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: rgb(107, 105, 105);
  padding: 4px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  display: flex;
  flex-grow: 1;
  /* this removes the line under the links */

}