body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 10px ;
}

.title {
  background: #e3f4ff;
  font-family: sans-serif;
  font-size: 20px;
}

.content {
  background: #e3f4ff;
  margin: 10px auto;
  padding: 10px ;
}

.button-container {
  background: #e3f4ff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: block;
  
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  width: 200px;
  margin: 10px;
}